.booking-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc(100vh - 250px);
    overflow-y: overlay;
    padding-right: 10px;
    padding-bottom: 10px;

    .no-result {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height: calc(100vh - 260px);
    }

    .booking-item {
        background: #fff;
        border-radius: 15px;
        display: flex;
        padding: 15px;
        gap: rem(20);
        .left {
            width: 15%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            p {
                text-align: center;
                font-size: rem(20);
                &.reserved { 
                    color: $reserved-color;
                    font-weight: bold;
                }
                &.seated { 
                    color: $seated-color; 
                    font-weight: bold;
                }
            }
        }
        .middle {
            width: 60%;
            p {
                @include ellipsis(1);
            }
        }
        .right {
            margin-left: auto;
            display: flex;
            align-items: center;
            .booking-btn {
                border-radius: 5px;
                width: rem(75);
                height: rem(40);
                background: $button-bg;
                color: #fff;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .booking-list {
        overflow-y: unset;
        padding-right: 0;
        height: auto;
    }
}